body, .wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: fixed;
    overflow: hidden;
}

a {
    color: #57C4EB;
}

@media (orientation: landscape) {
    .droid {
        width: 100%;
        position: absolute;
        bottom: 0;
        animation: droid-anim 0.4s ease 0.2s 1;
        animation-fill-mode: forwards;
    }

    .footer {
        background-color: #3DDC84;
        width: 100%;
        height: 2em;
        position: absolute;
        top: 100%;
        animation: footer-anim 0.4s ease 0.2s 1;
        animation-fill-mode: forwards;
    }

    .footer-txt {
        color: #ffffff;
        position: absolute;
        bottom: 0.2em;
        right: 0;
        text-align: right;
        margin: 0;
        font-size: 0.5em;
    }

    .items {
        position: absolute;
        bottom: calc(2em + (40% - 2em) / 2);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, 50%);
    }

    .item {
        margin: 0 6vh;
        width: 0;
        height: 0;
        animation: item-anim 0.4s ease 0.2s 1;
        animation-fill-mode: forwards;
    }

    @keyframes droid-anim {
        70% {
            bottom: 2em;
        }

        100% {
            bottom: 40%;
        }
    }

    @keyframes footer-anim {
        70% {
            top: calc(100% - 2em);
        }

        100% {
            top: calc(100% - 2em);
        }
    }

    @keyframes item-anim {
        70% {
            width: 0;
            height: 0;
        }

        100% {
            width: 14vh;
            height: 14vh;
        }
    }
}

@media (orientation: portrait) {
    .droid {
        margin: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: droid-anim 0.4s ease 0.2s 1;
        animation-fill-mode: forwards;
    }

    .footer {
        background-color: #3DDC84;
        width: 100%;
        height: 35%;
        position: absolute;
        top: 100%;
        animation: footer-anim 0.4s ease 0.2s 1;
        animation-fill-mode: forwards;
    }

    .footer-txt {
        color: #ffffff;
        position: absolute;
        bottom: 0.2em;
        right: 0;
        text-align: right;
        margin: 0;
        font-size: 0.4em;
    }

    .items {
        display: flex;
        position: absolute;
        bottom: 50%;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        transform: translate(0, 50%);
    }

    .item {
        margin: 0 3vw;
        width: 0;
        height: 0;
        max-width: 24vh;
        max-height: 24vh;
        animation: item-anim 0.4s ease 0.2s 1;
        animation-fill-mode: forwards;
    }

    @keyframes droid-anim {
        90% {
            bottom: 35%;
        }

        100% {
            width: 160%;
            left: -30%;
            bottom: 65%;
        }
    }

    @keyframes footer-anim {
        90% {
            top: 65%;
        }

        100% {
            top: 65%;
        }
    }

    @keyframes item-anim {
        90% {
            width: 0;
            height: 0;
        }

        100% {
            width: 16vw;
            height: 16vw;
        }
    }
}
